<div>
    <div class="container-fluid">
        <div class="row" style="color: white;">
            <div class="col-md-12">
                <form action="/admin/edit?id={{data._id}}" method="post" enctype="multipart/form-data" class="mt-5">

                    <div class="form-group">
                        <label for="exampleInputPassword1">Name</label>
                        <input type="text" name="name" class="form-control" id="exampleInputPassword1"
                            value="{{data.name}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Discription</label>
                        <input type="text" name="discription" class="form-control" id="exampleInputPassword1"
                            value="{{data.discription}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Price</label>
                        <input type="number" name="price" class="form-control" id="exampleInputPassword1"
                            value="{{data.price}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Image</label>
                        <input type="file" name="image" class="form-control" id="exampleInputPassword1"
                            placeholder="Image">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>