<div class="background-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-5 mt-5">
                <div class=" mt-5 m-auto"
                    style="width: 60%; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; border-radius: 20px;">
                    <form action="/admin" method="post" class="mt-5 p-5" style="color: #fff;">
                        <h1 style="text-align: center; font-family: serif;"><b><i>Admin Login</i></b></h1>
                        <div class="form-group">
                            {{#if errr}}
                            <p class="mt-2" style="color: red;"><i>{{errr}}</i></p>
                            {{/if}}
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" name="name" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Admin Username">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password">

                        </div>

                        <div class="">
                            <button type="submit" class="btn btn-warning mt-3"
                                style="width: 100%;"><b>Submit</b></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>