<nav class="navbar navbar-expand-lg navbar-light"
    style="background-color: black;box-shadow: rgba(165, 174, 37, 0.45) 0px 25px 20px -20px;">
    <a class="navbar-brand" href="/"><img src="/images/logo2.jpg" alt="" style="width: 220px; height: 60px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        style="background-color: #ffc107;">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link btn btn-warning pt-1 pt-0 mt-1 ml-5" href="/admin/add"
                    style="color: #0c0c0c;  height: 30px; border-radius: 20px; text-align: center;">Add Product
                    <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link btn btn-warning pt-1 pt-0 mt-1 ml-3" href="/admin/showpro"
                    style="color: #0c0c0c;  height: 30px; border-radius: 20px; text-align: center;">Admin Products
                    <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link btn btn-warning pt-1 pt-0 mt-1 ml-3" href="/admin/useradd"
                    style="color: #0c0c0c;  height: 30px; border-radius: 20px; text-align: center;">User Products
                    <span class="sr-only">(current)</span></a>
            </li>

            

           

        </ul>
        
        <div class="dropdown my-2  mr-sm-2 ">
            <button class="btn btn-outline-warning dropdown-toggle pb-3 pt-0 mt-0" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                style="border-radius: 20px; height: 30px;">


                Admin

            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <a class="dropdown-item " href="/logout">Logout</a>
              


            </div>
        </div>
    </div>
</nav>