<div style="background-color: black;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 " style="background-color: #343a40; text-align: center;">

                <a href="/" class="btn btn-dark" style="width: 100%; color: #ffc107;" id="pets">PETS</a>
            </div>
            <div class="col-md-3 " style="background-color: #ffc107;text-align: center;">
                <a href="/accessories" class="btn btn-warning" style="width: 100%;">ğ˜¼ğ˜¾ğ˜¾ğ™€ğ™ğ™ğ™Šğ™ğ™„ğ™€ğ™</a>
            </div>
            <div class="col-md-3 " style="background-color: #343a40; text-align: center;">
                <a href="/food" class="btn btn-dark" style="width: 100%; color: #ffc107;">ğ™ğ™Šğ™Šğ˜¿</a>
            </div>
            <div class="col-md-3 " style="background-color: #ffc107; text-align: center;">
                <a href="/instruction" class="btn btn-warning" style="width: 100%;">ğ™„ğ™‰ğ™ğ™ğ™ğ™ğ˜¾ğ™ğ™„ğ™Šğ™‰ğ™</a>
            </div>
        </div>


        <div class="row">
            {{#each products}}
            <div class="col-md-3 mt-5 mt-3 p-5">
                <div class="card m-auto text-center"
                    style="width: 18rem; border-radius: 20px; color: white; background-color: black; box-shadow: rgba(222, 201, 15, 0.3) 0px 0px 0px 3px; height: 26empx; margin-top: 100em;">
                    <a href="/acc" style="text-decoration: none; color: #fff;">
                        <img class="card-img-top p-3" src="/admin_image/{{this._id}}.jpg" alt="Card image cap"
                            style="border-radius: 30px; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.discription}}</p>
                    </a>

                        <button  onclick="addTocart('{{this._id}}')" class="btn btn-warning mt-3">Add_To_Cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>