<div>
    <div class="container-fluid">
        <div class="row" style="background-color: black;">
            <div class="col-12 col-md-12 p-5">
                <table class="table " style="text-align:center ;">
                    <thead>
                        <tr style="color: white; font-size: 24px;">
                            <th scope="col">NO.</th>
                            <th scope="col">Image</th>
                            <th scope="col">Product_Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Coose Option...</th>
                        </tr>
                    </thead>
                    <tbody>
                       {{#each products}}
                            <tr style="color: white; font-size: 20px;">
                                
                                <td>{{@index}}</td>
                                <td><img src="/admin_image/{{this._id}}.jpg" width="150px" height="100px" alt=""></td>
                                <td>{{this.name}}</td>
                                <td>{{this.price}}</td>
                                <td>
                                    <select name="cars" id="cars" class="mt-4" style="background-color: #ffc107;">
                                        <option value="one">1</option>
                                        <option value="two">2</option>
                                        <option value="three">3</option>
                                        <option value="four">4</option>
                                        <option value="five">5</option>
                                    </select>
                                </td>
                                <td>
                                    <a href="" class="btn btn-danger mt-4">Remove  <b>X</b></a>
                                    <a href="/buynow" class="btn btn-warning mt-4">Buy Now</a>
                                </td>
                               
                            </tr>
                       {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>