<div style="background-color: black;">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3 " style="background-color: #343a40; text-align: center;">
                <a href="" class="btn btn-dark" style="width: 100%; color: #ffc107;" id="pets">π™‹π™€π™π™</a>
            </div>
            <div class="col-md-3 " style="background-color: #ffc107;text-align: center;">
                <a href="" class="btn btn-warning" style="width: 100%;">πΌπΎπΎπ™€π™π™π™π™π™„π™€π™</a>
            </div>
            <div class="col-md-3 " style="background-color: #343a40; text-align: center;">
                <a href="" class="btn btn-dark" style="width: 100%; color: #ffc107;">π™π™π™πΏ</a>
            </div>
            <div class="col-md-3 " style="background-color: #ffc107; text-align: center;">
                <a href="" class="btn btn-warning" style="width: 100%;">π™„π™‰π™π™π™π™πΎπ™π™„π™π™‰π™</a>
            </div>
        </div>



        <div class="row">
            {{#each products}}

            <div class=" col-md-3 mt-3 p-5">
                <a class=" " href="/proinfo" style="text-decoration: none; color: #fff;">
                    <div class="card m-auto"
                        style="width: 18rem; border-radius: 20px; background-color: black; box-shadow: rgba(222, 201, 15, 0.3) 0px 0px 0px 3px; height: 26empx; margin-top: 100em;">
                        <img class=" p-3" src="admin_image/{{this._id}}.jpg" alt="Card image cap"
                            style="border-radius: 30px; height: 200px;">
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title" style="color: #ffc107;">{{this.name}}</h5>
                            
                            <p>β‚Ή {{this.price}}/-</p>

                           <a href="/cart?id={{this._id}}" class="btn btn-warning" style="border-radius: 20px;">Add To Cart</a>

                        </div>
                        
                    </div>
                </a>



            </div>
            {{/each}}

        </div>



    </div>
</div>


