<div class="container-fluid">
   
        <div class="row">
            <div class="col-md-3 " style="background-color: #343a40; text-align: center;">
        
                <a href="/" class="btn btn-dark" style="width: 100%; color: #ffc107;" id="pets">PETS</a>
            </div>
            <div class="col-md-3 " style="background-color: #ffc107;text-align: center;">
                <a href="/accessories" class="btn btn-warning" style="width: 100%;">πΌπΎπΎπ™€π™π™π™π™π™„π™€π™</a>
            </div>
            <div class="col-md-3 " style="background-color: #343a40; text-align: center;">
                <a href="" class="btn btn-dark" style="width: 100%; color: #ffc107;">π™π™π™πΏ</a>
            </div>
            <div class="col-md-3 " style="background-color: #ffc107; text-align: center;">
                <a href="/instruction" class="btn btn-warning" style="width: 100%;">π™„π™‰π™π™π™π™πΎπ™π™„π™π™‰π™</a>
            </div>
        </div>
   
</div>