<div class="container-fluid">
    <div class="row">
        <div class="col-md-6  p-5">
            <form class="mt-5 p-4 text-light" action="/placeorder" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Address</label>
                    <input type="text" style="height: 70px;" name="adsress" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="viswadeep,cheravally,kayamkulam,alappy,kerala">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your Address with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Pincode</label>
                    <input type="number" name="pin" class="form-control" id="exampleInputPassword1"
                        placeholder="690508">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Phone Number</label>
                    <input type="number" name="ph" class="form-control" id="exampleInputPassword1"
                        placeholder="+91 9562XXXX76">
                </div>



        </div>
        <div class="col-md-6 mt-5 p-5">
            <div class="pl-5 m-4">
                <div class="mt-5 ml-5 p-4" style="width: 70%; border: solid white;">
                    <h4 class="text-center text-light">Choose Payment Method</h4> <br>
                    <div class="form-group">
                        <input type="radio" name="pay" value="cod">
                        <label for="exampleInputPassword1" class="text-light">Cash Own Delivery</label> <br>
                        <input type="radio" name="pay" value="online">
                        <label for="exampleInputPassword1" class="text-light">Online Payment</label>
                    </div>
                    <h4 class="text-light">Total Ammount : {{total}}/-</h4>
                    <button type="submit" class="btn btn-outline-warning mt-3" style="width: 100%;">Buy
                        Products</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#each del}}
                <h1>{{this.pro.userid}}</h1>
            
            {{/each}}
        </div>
    </div>
</div>