<div class="background-images">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-5 mt-5">
                <div class=" mt-5 ml-5"
                    style="width: 60%; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; border-radius: 20px;">
                    <form action="/sinup" method="post" style="color: #fff;" class=" p-5">
                        <h1 style="text-align: center;"><b><i>Create Your Account...</i></b></h1>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" name="Name" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Name">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="Email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="Password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>

                        <button type="submit" class="btn btn-warning mt-3" style="width: 100%;"><b>Submit</b></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<style>
    .background-images {
        background-image: url('/images/BLACKCAT.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        height: 100vh;

    }
</style>